body, html {
   margin: 0;
   padding: 0;
   font-family: 'Arial', sans-serif;
   background-color: #f0f0f0;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #fff;
   color: #333;
}

nav .logo a {
   color: #333;
   text-decoration: none;
   font-size: 1.5em;
}

nav .links a {
   color: #333;
   text-decoration: none;
   margin: 0 15px;
   transition: color 0.3s;
}

nav .links a:hover {
   color: #aaa;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   text-align: center;
   background-color: #fff;
   color: #333;
   background-image: url("../assets/ha.jpg");
   background-size: 50%;

}

.header h1 {
   font-size: 5em;
   margin: 0 5px;
   opacity: 0;
   transform: translateY(20px);
   color: #fff;
}

.footer-copy {
   padding: 20px;
   background-color: #795C5F;
   color: #fff;
   display: flex;
   justify-content:  space-evenly;
   align-items: center;
}

.footer-nav {
   padding: 20px;
   background-color: #333;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-copy p {
   max-width: 800px;
   margin: 0;
   text-align: center;
}

.footer-nav {
   gap: 10px;
}

.footer-nav .social-icon {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #555;
   border-radius: 50%;
   color: #fff;
   text-decoration: none;
   font-size: 1.5em;
   transition: background-color 0.3s, color 0.3s;
}

.footer-nav .social-icon:hover {
   background-color: #777;
   color: #ddd;
}

.reveal {
   animation: revealText 1s forwards;
}

@keyframes revealText {
   to {
       opacity: 1;
       transform: translateY(0);
   }
}

.page {
   padding: 20px;
   overflow: hidden;
 }

nav .links a.active,
nav .links a:hover {
    color: #aaa;
}